/* Body */
.body {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 50px;
}

/*body * {
  outline: auto;
}*/

.wrap {
  overflow-y: scroll;
}

/* Common */
.text-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

/* Font */
* {
  font-family: Raleway;
  font-style: normal;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

.h1 {
  font-size: 98px;
}

.h2 {
  font-size: 61px;
}

.h3 {
  font-size: 49px;
}

.h4 {
  font-size: 35px;
}

.h5 {
  font-size: 24px;
}

.h6 {
  font-size: 16px;
}

.content {
  font-size: 12px;
}

.font-white {
  color: white;
}

.font-orange {
  color: #de8667;
}

/* Padding */
.padding-five {
  padding: 5%;
}

.padding-ten {
  padding: 10%;
}

/* Navigation */
.nav-bar {
  display: flex;
  color: #de8667;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 4% 0 4%;
}

.nav-bar-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #de8667;
  /* Shadow Primary */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.nav-bar-orange {
  background-color: #de8667;
  color: white;
}

.right-side {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0px;
  width: 220px;
}

.right-side-logged-in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 50%;
}

.right-side-logged-in-mobile {
  width: 100%;
}

/* Button */
.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  min-width: 100px;
  height: 32px;

  cursor: pointer;

  color: white;
  font-size: 12px;

  background: linear-gradient(257.39deg, #efb467 0%, #de8667 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
}

.alternative-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  min-width: 100px;
  height: 32px;

  color: #de8667;

  cursor: pointer;

  font-size: 12px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  border: solid 1px #de8667;
}

.link {
  text-decoration: none;
}

/* Landing Page */
.landing-page {
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

.landing-page .primary-button {
  margin-top: 3%;
  width: 15%;
}

.landing-page .h2 {
  justify-content: center;
}

.landing-page .width {
  width: 80%;
  text-align: center;
}

.landing-title {
  font-size: 35px;
}

.landing-title-h2 {
  font-size: 35px;
}

.landing-title-h4 {
  font-size: 24px;
}

.column-content {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: auto;
  align-items: center;
  gap: 10px;
}

/* Boxes */
.box-row {
  display: flex;
  justify-content: center;
}

.box-column {
  display: flex;
  flex-flow: column wrap;
}

.half {
  flex: 1 1 100%;
}

.full {
  flex: 1 1 100%;
}

/* Align text */
.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.center-align {
  justify-content: center;
  align-items: center;
}

/* Quote card */
.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  margin-top: 1%;

  width: 100%;
  min-height: 110px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card .number {
  margin: 3% 0 3% 0;
}

.voting {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  width: 10%;
}

.quote {
  display: flex;
  flex-flow: column;
  padding: 2%;

  margin-left: 5%;
  width: 70%;
}

.quote-text {
  margin-bottom: 5%;
  overflow-wrap: break-word;
}

.quote-user {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.quote-user-profile-picture {
  width: 24px;
  height: 24px;

  background: url(/public/favicon.ico);
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
  border-radius: 50%;
  margin-right: 5%;
}

.quote-grid-card {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3%;
}

/* Images */
.quotes-logo {
  width: 25px;
}

.quotes-logo-mobile {
  display: flex;
  align-items: center;
}

/* Input */
.input {
  border: 2px solid #de8667;
  box-sizing: border-box;
  border-radius: 30px;

  padding: 2%;
  width: 100%;
  height: 35px;
}

.input-half {
  width: 40%;
}

.input-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  gap: 8px;

  font-size: 12px;

  border: 2px solid #de8667;
  box-sizing: border-box;
  border-radius: 30px;

  width: 100%;
  height: 50%;
}


/* User */
.user-profile-picture {
  width: 64px;
  height: 64px;

  background: url(/public/favicon.ico);
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
  border-radius: 50%;
  margin-right: 5%;
}

/* User profile page */
.quote-karma {
  width: 70%;
  margin: -20% 0 2% 0; 
  height: 30%;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  position: absolute;
  bottom: -25%;
}

.quotes-profile {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  margin-top: 10%;
}

.profile-name {
  background-color: #de8667;
  height: 30%;
  display: flex;
  align-items: center;
  flex-flow: column;
  position: relative;
}

/* Pop Up */
.pop-up{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.pop-up-content{
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 40%;
  padding: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.pop-up-content-small{
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 20%;
  padding: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

.blur {
  filter: blur(15px);
}

/* Footer */
.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1px 0 1px;

  background: linear-gradient(257.39deg, #efb467 0%, #de8667 100%);

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 32px 32px 0px 0px;
}

.footer-text {
  margin-right: 5%;
}

.footer-logo {
  margin-left: 4%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 4%;
  height: 1.5%;
  left: 4%;
  top: 2.5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #de8667;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #de8667;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 40px;
  width: 40px;
  left: 8px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #de8667;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.burger-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}


@media screen and (min-width: 768px) {
  .landing-title {
    font-size: 98px;
  }
  .landing-title-h2 {
    font-size: 61px;
  }
  .landing-title-h4 {
    font-size: 35px;
  }
  .landing-page .width {
    width: 50%;
  }
  .half {
    flex: 1 1 50%;
  }
  .card {
    min-height: 140px;
    width: 400px;
  }
  .column-content {
    width: 30%;
  }
  .right-side-logged-in {
    width: 17%;
  }
  .pop-up-content{
    width: 30%;
  }
  .pop-up-content-small{
    width: 30%;
  }
  .quote-karma {
    width: 20%;
    margin: -2% 0 2% 0; 
  }
  .quotes-profile {
    flex-flow: row;
    margin-top: 3%;
  }
  .gap{
    gap: 30px;
  }
}
